extends includes/base.pug
block variables
    - var rakutenUrl = 'https://www.rakuten.com.tw/shop/toyo-autech/?l-id=tw_product_shop'
    - var northStores = [{ name: '業嘉科技', tel: '0800-532-568', add: '台北市內湖區安泰街73巷2號4樓', }, { name: '浚恩淨水(永洧)', tel: '02-2746-0429', add: '台北市松山區吉祥路29號1樓' }, { name: '水之緣興業有限公司', tel: '02-2587-1199', add: '台北市中山區中原街145號' }, { name: '吉達興', tel: '02-2756-5899', add: '台北市松山區光復北路85巷11號' }, { name: '台灣麗水', tel: '02-2999-0081', add: '新北市三重區重新路五段609巷10號地下一樓B18' }, { name: '台北活水', tel: '02-2948-2836', add: '新北市中和區景平路19號' }, { name: '沅美', tel: '02-2999-1212', add: '新北市三重區重新路五段615號' }, { name: '佺昕國際', tel: '02-7717-8155', add: '新北市中和區中山路三段46號1樓' }, { name: '元力', tel: '02-2901-2820', add: '新北市新莊區新樹路17號' }, { name: '銓浤專業淨水', tel: '02-2602-8730', add: '新北市林口區文化二路一段468號' }, { name: '山水好企業社', tel: '02-2692-5266', add: '新北市汐止區康寧街237號' }, { name: '銓能淨水', tel: '02-2962-3103', add: '新北市板橋區四川路1段318號' }, { name: '川業', tel: '02-2263-1896', add: '新北市土城區廣福街71巷1-1號' }, { name: '百振淨水量販超市', tel: '02-2274-3988', add: '新北市土城區青雲路2-1號' }, { name: '金富貴', tel: '02-2996-2511', add: '新北市新莊區中港一街134號1樓' }, { name: '亞太淨水', tel: '02-8992-2920', add: '新北市新莊區立信一街35號1樓' }, { name: '悅康淨水工坊', tel: '02-2434-2292', add: '基隆市安樂區麥金路421巷4號1樓' }, { name: '康泉淨水', tel: '03-4820852', add: '桃園市楊梅區瑞溪路二段158號' }, { name: '大千淨水', tel: '03-282-0868', add: '桃園市觀音區新生路30號' }, { name: '百盛企業社', tel: '03-409-6851', add: '桃園市龍潭區東龍路177號' }, { name: '茗毅企業社', tel: '03-490-5082', add: '桃園市平鎮區民族路雙連一段83號' }, { name: '艾克米淨水', tel: '03-4559349', add: '桃園市中壢區環中東路230號' }, { name: '湯峰', tel: '03-3583305', add: '桃園市桃園區同安街455巷3弄25號' }, { name: '濠溢淨水', tel: '03-3585688', add: '桃園市桃園區愛五街10號' }, { name: '泉勝', tel: '03-4900154', add: '桃園市平鎮區陸光路10巷61號' }, { name: '淨宇', tel: '03-4336111', add: '桃園市中壢區延平路98號' }, { name: '益善', tel: '03-5280693', add: '新竹市北區北大路237號5樓' }, { name: '開勵', tel: '03-5216701', add: '新竹市中山路389號' }, { name: '宏浚飲水科技工房', tel: '03-5328080', add: '新竹市中央路164號1樓/苗栗市國華路1127號' }, { name: '宇達淨水有限公司', tel: '0800-000-006 / 0800-600-600', add: '新竹市經國路二段297號' }, { name: '安德成', tel: '03-5795322', add: '新竹市光復路一段52號' }, { name: '柏洋', tel: '03-5556902', add: '新竹縣竹北市福興路979-40號' }, { name: '艾泉淨水企業有限公司', tel: '03-550-2711', add: '新竹縣竹北市東興里自強北路' }, { name: '力健', tel: '03-955-7339', add: '宜蘭縣羅東鎮公正路296號' }, { name: '統賀', tel: '039-368179', add: '宜蘭市中山路二段39號' }, ];
    - var centralStores = [{ name: '大西洋', tel: '04-2485-4851', add: '台中市大里區垂統街111號', }, { name: '思維康有限公司', tel: '04-2297-1616', add: '台中市北區天津路一段116號', }, { name: '彰鴻淨水科技有限公司', tel: '04-7616166', add: '彰化市中華西路275號', }, { name: '康浦淨水企業有限公司', tel: '05-5335868', add: '雲林縣斗六市平等街60號', }, ];
    - var southStores = [{ name: '湧弘', tel: '06-2316684', add: '台南市永康區永大路二段1556號', }, { name: '鈞暘企業社', tel: '06-237-0946', add: '701台南市東區樹林街1段117號', }, { name: '泓丞', tel: '07-3383727', add: '高雄市苓雅區仁愛三街308-13號8F-1', }, { name: '亞泰淨水', tel: '07-3501885', add: '高雄市左營區重信路436號', }, { name: '鋰水實業行', tel: '07-349-6063', add: '高雄市三民區河堤路512-1號12樓', }, ];
    - var cityStores = [{ name: 'Digital City-新板店', tel: '02-29566065', add: '新北市板橋區中山路一段118號', }, { name: '板橋館門市', tel: '02-82527501', add: '新北市板橋區文化路一段90號1F', }, { name: 'Digital City-八德店', tel: '03-3671956', add: '桃園市八德區介壽路二段247號', }, { name: 'Digital City-南港店', tel: '02-26512296', add: '台北市南港區南港路二段20巷5號B1 ', }, { name: 'Digital City-南京松江店', tel: '02-25210980', add: '台北市中山區南京東路二段71號', }, { name: 'Digital City-竹北店', tel: '03-5503896', add: '新竹縣竹北市莊敬南路1號3樓', }, { name: 'Digital City-竹南店', tel: '037-551466', add: '苗栗竹南鎮環市路二段201號1樓、203一樓', }, { name: '數位家電體驗館-沙鹿館門市', tel: '04-26651738', add: '台中市沙鹿區中山路382號', }, { name: 'Digital City-金馬店', tel: '04-7512358', add: '彰化縣彰化市金馬路三段525號', }, { name: 'Digital City-清水店', tel: '04-26234367', add: '台中市清水區中山路29-2號', }, { name: 'Digital City-福科店', tel: '04-24620880', add: '台中市西屯區福科路617號', }, { name: 'Digital City-永華店', tel: '06-2936175', add: '台南市中西區永華路一段315號 ', }, { name: 'Digital City-中華東店', tel: '06-2352328', add: '台南市東區中華東路二段236號', }, { name: 'Digital City-嘉義博愛店', tel: '05-2315058', add: '嘉義市西區博愛路二段131.131-1號 ', }, { name: '華夏門市', tel: '07-3430818', add: '高雄市左營區華夏路686號', }, { name: 'Digital City-民族店', tel: '07-3477997', add: '高雄市三民區明誠一路836,838號 ', }, { name: 'Digital City-小港店', tel: '07-8063280', add: '高雄市小港區漢民路393號', }, { name: 'Digital City-德惠店', tel: '07-3641298', add: '高雄市楠梓區德惠路73.75號', }, { name: 'Digital City-鳳山五甲店', tel: '07-7194083', add: '高雄市鳳山區五甲一路261號', }, { name: 'Digital City-澄清店', tel: '07-7774381', add: '高雄市三民區澄清路426號', }, { name: 'Digital City-屏東信義店', tel: '08-7668911', add: '屏東縣屏東市自由路493號、信義路220號', },];

block content
    .main
        .wave-container
            svg.waves(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 24 150 28" preserveaspectratio="none" shape-rendering="auto")
                defs
                    path#gentle-wave(d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z")
                g.parallax
                    use(xlink:href="#gentle-wave" x="48" y="3" fill="#4171aa")
                    use(xlink:href="#gentle-wave" x="48" y="5" fill="#78cbc5")
                    use(xlink:href="#gentle-wave" x="48" y="7" fill="#cccccc")
        .main-container
            .main-title
                .title 店舖一覽
                .grid__item-letter(data-blotter="")
                    span.content__text-inner SHOPS
                i.fas.fa-tint
            .main-box.shop-list
                div
                    h5 北區
                    ul
                        each store in northStores
                            li
                                .name= store.name
                                .phone= store.tel 
                                .address= store.add
                    h5 中區
                    ul
                        each store in centralStores
                            li
                                .name= store.name
                                .phone= store.tel 
                                .address= store.add
                    h5 南區
                    ul
                        each store in southStores
                            li
                                .name= store.name
                                .phone= store.tel 
                                .address= store.add
                    h5 全國電子-全台門市皆可購買或前往以下店點賞機
                    ul
                        each store in cityStores
                            li
                                .name= store.name
                                .phone= store.tel 
                                .address= store.add

