extends includes/base.pug
block variables
    - var rakutenUrl = 'https://www.rakuten.com.tw/shop/toyo-autech/?l-id=tw_product_shop'
    - var northStores = [{ name: '業嘉科技', tel: '0800-532-568', add: '台北市內湖區安泰街73巷2號4樓', }, { name: '浚恩淨水(永洧)', tel: '02-2746-0429', add: '台北市松山區吉祥路29號1樓' }, { name: '水之緣興業有限公司', tel: '02-2587-1199', add: '台北市中山區新生北路三段19巷52號' }, { name: '藍海淨水台北信義店', tel: '02-2761-1088', add: '台北市信義區忠孝東路五段373號1樓' }, { name: '偉盛', tel: '02-25942688', add: '台北市大同區重慶北路三段238號' }, { name: '藍海淨水新莊旗艦店', tel: '02-2277-1088', add: '新北市新莊區幸福路3號1樓' }, { name: '台灣麗水', tel: '0935-502207', add: '新北市三重區重新路五段609巷10號地下一樓B18' }, { name: '台北活水', tel: '02-2948-2836', add: '新北市中和區景平路19號' }, { name: '元渼', tel: '02-2999-1212', add: '新北市三重區重新路五段615號' }, { name: '元力', tel: '02-2901-2820', add: '新北市新莊區新樹路65-6號' }, { name: '傑克利', tel: '02-26083616', add: '新北市林口區文化二路一段102號'}, { name: '銓浤專業淨水', tel: '02-2602-8730', add: '新北市林口區文化二路一段468號' }, { name: '山水好企業社', tel: '02-2692-5266', add: '新北市汐止區康寧街237號' }, { name: '銓能淨水', tel: '02-2962-3103', add: '新北市板橋區四川路1段318號' }, { name: '星汎淨水科技有限公司', tel: '0987-710-680', add: '新北市板橋區介壽街84巷32號' }, { name: '川業', tel: '02-2263-1896', add: '新北市土城區廣福街71巷1-1號' }, { name: '百振淨水量販超市', tel: '02-2274-3988', add: '新北市土城區青雲路2-1號' }, { name: '金富貴', tel: '02-2996-2511', add: '新北市新莊區中港一街134號1樓' }, { name: '亞太淨水', tel: '02-8992-2920', add: '新北市新莊區立信一街35號1樓' }, { name: 'Mr.Blue', tel: '02-77518188', add: '新北市五股區新五路二段337號1樓' }, { name: '淨悅山', tel: '02-2215-7313', add: '新北市新店區如意街14-1號' }, { name: '悅康淨水工坊', tel: '02-2434-2292', add: '基隆市安樂區麥金路421巷4號1樓' }, { name: '藍海淨水中壢SOGO店', tel: '03-427-0077', add: '桃園市中壢區元化路282號1樓' }, { name: '康泉淨水', tel: '03-4820852', add: '桃園市楊梅區瑞溪路二段158號' }, { name: '百盛企業社', tel: '03-409-6851', add: '桃園市龍潭區東龍路177號' }, { name: '茗毅企業社', tel: '03-490-5082', add: '桃園市中壢區高鐵站前西路二段191號2樓' }, { name: '艾克米淨水', tel: '03-4559349', add: '桃園市中壢區興仁路一段59號1樓' }, { name: '泉勝', tel: '03-4900154', add: '桃園市平鎮區陸光路10巷61號' }, { name: '宏浚飲水科技工房－新竹公司', tel: '03-5345000', add: '新竹市牛埔東路251巷32弄7號1樓' }, { name: '宇達淨水有限公司', tel: '0800-000-006 / 0800-600-600', add: '新竹市經國路二段247號' }, { name: '藍海淨水竹北旗艦店', tel: '03-657-3077', add: '新竹縣竹北市光明六路117號1樓' }, { name: '淨宇', tel: '03-4336111', add: '新竹縣竹北市中華路95號' }, { name: '艾泉淨水企業有限公司', tel: '03-550-2711', add: '新竹縣竹北市東興里自強北路' }, { name: '柏洋淨水科技', tel: '03-555-6902', add: '新竹縣竹北市福興路979-40號' }, { name: '宏浚飲水科技工房－苗栗公司', tel: '037-335000', add: '苗栗市國華路1127號', }, { name: '力健', tel: '03-955-7339', add: '宜蘭縣羅東鎮公正路296號' }, { name: '統賀', tel: '039-368179', add: '宜蘭市中山路二段39號' }, ];
    - var centralStores = [{ name: '思維康有限公司', tel: '04-2297-1616', add: '台中市北區天津路一段116號', }, { name: '邑宸', tel: '04-23105356', add: '台中市西區東興路三段218號' }, { name: '藍海淨水台中南屯店', tel: '04-2475-3077', add: '台中市南屯區文心南三路281號1樓' }, { name: '彰鴻淨水科技有限公司', tel: '04-7616166', add: '彰化市中華西路275號', }, { name: '康浦淨水企業有限公司', tel: '05-5335868', add: '雲林縣斗六市平等街60號', }, ];
    - var southStores = [{ name: '饌前行', tel: '0925125632', add: '台南市安南區義吉街22號' }, { name: '湧弘', tel: '06-2316684', add: '台南市永康區永大路二段1556號', }, { name: '義德', tel: '06-2157666', add: '台南市中西區連路4號1樓' }, { name: '鈞暘企業社', tel: '06-237-0946', add: '701台南市東區樹林街1段117號', }, { name: '亞泰淨水', tel: '07-3501885', add: '高雄市左營區重信路436號', }, { name: '鋰水實業行', tel: '07-349-6063', add: '高雄市三民區河堤路512-1號12樓', }, { name: '霈軒', tel: '07-7277575', add: '高雄市苓雅區建國一路282號' }, { name: '全家潔淨水', tel: '0921-829-963', add: '高雄市仁武區德新街76號' }, { name: '全家潔淨水', tel: '0921-829-963', add: '屏東縣屏東市和生路二段48號' } ];
    - var cityStores = [{ name: 'Digital City-新板店', tel: '02-29566065', add: '新北市板橋區中山路一段118號', }, { name: '板橋館門市', tel: '02-82527501', add: '新北市板橋區文化路一段90號1F', }, { name: 'Digital City-南港店', tel: '02-26512296', add: '台北市南港區南港路二段20巷5號B1 ', }, { name: 'Digital City-南京松江店', tel: '02-25210980', add: '台北市中山區南京東路二段71號', }, { name: 'Digital City-和平店', tel: '02-23658868', add: '新北市中和區中山路三段122號B2' }, { name: '中和環球門市', tel: '02-25210980', add: '台北市中山區南京東路二段71號' }, { name: 'Digital City-汐止店', tel: '02-26497101', add: '新北市汐止區大同路二段240號' }, { name: '三重集賢門市', tel: '02-26497101', add: '新北市三重區集賢路112號' }, { name: 'Digital City-龜山文化店', tel: '03 318 1591', add: '桃園市龜山區文化二路20號' }, { name: '數位家電體驗館-南崁館門市', tel: '03-3181591', add: '桃園市蘆竹區中正路350號' }, { name: 'Digital City-桃園三民店', tel: '03-3360313', add: '桃園市桃園區三民路二段59號' }, { name: '數位家電體驗館-中正館門市', tel: '03-3581782', add: '桃園市桃園區中正路717號' }, { name: '桃園大竹門市', tel: '03-3133990', add: '桃園市蘆竹區大竹路358號' }, { name: 'Digital City-八德店', tel: '03-3671956', add: '桃園市八德區介壽路二段247號', }, { name: '八德興豐門市', tel: '03-3652136', add: '桃園市八德區興豐路390號' }, { name: 'Digital City-桃園國際店', tel: '03-3693185', add: '桃園市桃園區國際路二段476號', }, { name: 'Digital City-青埔領航店', tel: '03-2876811', add: '桃園市中壢區領航南路四段1號', }, { name: '藝文館門市', tel: '03-3162188', add: '桃園市桃園區中正路1206號', }, { name: '數位家電體驗館-中豐館門市', tel: '03-4687368', add: '桃園市平鎮區中豐路298號1樓' }, { name: '楊梅中山北門市', tel: '03-4821316', add: '桃園市楊梅區中山路80號1F' }, { name: 'Digital City-環北店', tel: '03-4250113', add: '桃園市中壢區環北路 160、162號' }, { name: 'Digital City-中壢環中東店', tel: '03-4553512', add: '桃園市中壢區環中東路267號' }, { name: 'DigitalCity宜蘭店', tel: '03-9311866', add: '宜蘭縣宜蘭市中山路二段31號', }, { name: '羅東興東門市', tel: '03-9573523', add: '宜蘭縣羅東鎮興東路133號', }, { name: '宜蘭中山門市', tel: '03-9351499', add: '宜蘭縣宜蘭市中山路三段122號', }, { name: 'Digital City-新竹湖口店', tel: '03-5991052', add: '新竹縣湖口鄉中正路一段172號' }, { name: '竹北縣政門市', tel: '03-5586898', add: '新竹縣竹北市縣政九路15號' }, { name: 'Digital City-竹北店', tel: '03-5503896', add: '新竹縣竹北市莊敬南路1號3樓', }, { name: 'Digital City-竹南店', tel: '037-551466', add: '苗栗竹南鎮環市路二段201號1樓、203一樓', }, { name: '數位家電體驗館-沙鹿館門市', tel: '04-26651738', add: '台中市沙鹿區中山路382號', }, { name: 'Digital City-清水店', tel: '04-26234367', add: '台中市清水區中山路29-2號', }, { name: 'Digital City-福科店', tel: '04-24620880', add: '台中市西屯區福科路617號' }, { name: 'Digital City-五權西門市', tel: '04-24732028', add: '台中市南屯區同心里五權西路二段203號', }, { name: 'Digital City-大雅店', tel: '04-25690958', add: '台中市大雅區中清路三段1053號' }, { name: 'Digital City-大里店', tel: '04-24821225', add: '台中市大里區大明路555、557號', }, { name: 'Digital City-北屯松竹店', tel: '04-22989299', add: '台中市北屯區松竹路三段366號' },  { name: 'Digital City-金馬店', tel: '04-7512358', add: '彰化縣彰化市金馬路三段525號', }, { name: 'Digital City-虎尾林森店', tel: '05-6327872', add: '雲林縣虎尾鎮林森路二段466號' }, { name: 'Digital City-嘉義博愛店', tel: '05-2315058', add: '嘉義市西區博愛路二段131.131-1號 ' }, { name: 'Digital City-永華店', tel: '06-2936175', add: '台南市中西區永華路一段315號 ', }, { name: 'Digital City-中華東店', tel: '06-2352328', add: '台南市東區中華東路二段236號', }, { name: 'Digital City-文賢店', tel: '06-350537', add: '台南市北區文賢路589.591號' }, { name: 'Digital City-永康中華店', tel: '06-3121500', add: '台南市永康區中華路143號' }, { name: '歸仁門市', tel: '06-3305960', add: '台南市歸仁區中山路三段21及23號' }, { name: '華夏門市', tel: '07-3430818', add: '高雄市左營區華夏路686號', }, { name: 'Digital City-民族店', tel: '07-3477997', add: '高雄市三民區明誠一路836,838號 ', }, { name: 'Digital City-小港店', tel: '07-8063280', add: '高雄市小港區漢民路393號', }, { name: 'Digital City-德惠店', tel: '07-3641298', add: '高雄市楠梓區德惠路73.75號', }, { name: 'Digital City-鳳山五甲店', tel: '07-7194083', add: '高雄市鳳山區五甲一路261號', }, { name: 'Digital City-澄清店', tel: '07-7774381', add: '高雄市三民區澄清路426號', }, { name: 'Digital City-屏東信義店', tel: '08-7668911', add: '屏東縣屏東市自由路493號、信義路220號', },];

block content
    .main
        .wave-container
            svg.waves(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 24 150 28" preserveaspectratio="none" shape-rendering="auto")
                defs
                    path#gentle-wave(d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z")
                g.parallax
                    use(xlink:href="#gentle-wave" x="48" y="3" fill="#4171aa")
                    use(xlink:href="#gentle-wave" x="48" y="5" fill="#78cbc5")
                    use(xlink:href="#gentle-wave" x="48" y="7" fill="#cccccc")
        .main-container
            .main-title
                .title 店舖一覽
                .grid__item-letter(data-blotter="")
                    span.content__text-inner SHOPS
                i.fas.fa-tint
            .main-box.shop-list.mb-4
                div
                    h5 北區
                    ul
                        each store in northStores
                            li
                                .name= store.name
                                .phone= store.tel 
                                .address= store.add
                    h5 中區
                    ul
                        each store in centralStores
                            li
                                .name= store.name
                                .phone= store.tel 
                                .address= store.add
                    h5 南區
                    ul
                        each store in southStores
                            li
                                .name= store.name
                                .phone= store.tel 
                                .address= store.add
            .main-box.shop-list
                div
                    h5 全國電子-全台門市皆可購買或前往以下店點賞機
                    .my-4
                        a(href="https://ec.elifemall.com.tw/web/zh/store.php" target="_blank")
                            img(src="images/city.svg" alt="全國電子" height="70")
                    p * 全國電子全台超過 300 間門市。
                    p * 賞機服務為特定店點，如有需求請洽 TOYO LINE 客服洽詢。

