extends includes/base.pug
block variables
    - var productName = 'tyr-450s'
block js
    script(src="./js/product.js")

block content
    .main
        .product-container
            .product-main
                .img-zone
                    img(src=`images/product/${productName}/cover.png` alt=`${productName}`)
                .name 全戶式淨軟水除氯系統 TYR-450S
                .detail
                    p 全戶用水一次淨化，讓家中每一滴水都純淨、柔軟、無負擔
                    ul
                        li 軟水＋除氯雙系統
                        li 頂級SPA居家沐浴體驗
                        li 強力除雜質、異味、水垢
                        li 日本製活性碳纖維濾心長效抑菌不壓降
                        li 小體積大過濾量 
                        li 智慧運作依比例吸鹽 
                        li 專屬軟水機BYPASS設計 
                        li 再生補軟水、乾鹽箱模式
                    div
                        - var n = 1;
                        while n <= 3
                            div
                                img(src=`images/product/${productName}/${n++}.png` alt="產品介紹")
                    .ct
                        .price
                            | 建議售價：90000元
                        a(onclick=`return gtag_report_conversion(https://www.rakuten.com.tw/shop/toyo-autech/product/${productName}/);` href=`https://www.rakuten.com.tw/shop/toyo-autech/product/${productName}/`)
                            .action-btn
                                i.fal.fa-shopping-bag
                                |  立即購買
                        a(onclick="return gtag_report_contact('https://line.me/R/ti/p/%40utb7360h');" href="https://line.me/R/ti/p/%40utb7360h")
                            .action-btn
                                i.fab.fa-line
                                |  聯絡我們
            .main-box
                h5 商品描述
                ul
                    li
                        span.text-main 全戶水質一次到位：
                        | 軟水＋除氯雙系統，享受純淨、無氯、柔滑的高質感用水。
                    li
                        span.text-main SPA 級居家沐浴體驗：
                        | 大幅降低水中硬度，沐浴時更親膚，髮絲更柔順。
                    li
                        span.text-main 強力除雜質與異味：
                        | 有效濾除泥沙、鐵鏽、農藥、重金屬及化學物，飲用、洗滌、沐浴都更安心。
                    li
                        span.text-main 日本製活性碳纖維濾心抑菌：
                        | 長效抗菌、除氯與淨化水質，提升居家健康安全。
                    li 
                        span.text-main 處理量達 200 噸：
                        | 小體積卻擁有大流量，完全滿足社區大樓與透天住宅的家庭需求。
                    li 
                        span.text-main 智慧比例吸鹽系統：
                        | 軟水機依實際用水量自動調整吸鹽比例。
                    li
                        span.text-main 專屬 BYPASS 設計：
                        | 維修、清洗不斷水，靈活切換模式，居家用水不中斷更便利。
                    li
                        span.text-main 乾鹽箱模式：
                        | 降低結塊風險、鹽耗更穩定，確保長期運作效能。
                    li
                        span.text-main 安裝選擇：
                        | 多種居家與機房空間皆適用。
                    li
                        span.text-main 全戶軟水＋再生補軟水：
                        | 自動逆洗維持最佳軟化效果，延長家電壽命，鍋具、浴室不再留白垢水痕。
                    li
                        span.text-main 軟水淨化生活，品質全面升級
                p 客製化多種規劃方案，完美匹配全戶用水需求

                p 【注意事項】
                    br
                    | 此商品適用一般自來水。
                    br
                    | 安裝費用另計。
                    br
                    | 可客製化規劃其他水質設備。

                p 【保養及維護】
                    br
                    | 請務必依照說明書使用，定期更換耗材，確保您的軟水品質。有任何問題可詢問客服中心 0800-090-881。

            .main-box
                h5 商品內容
                p 不鏽鋼全戶式除氯系統、全戶式軟水系統、商品說明書、保證書。
            .product-info.main-box
                h5 商品規格
                table
                    tbody
                        tr
                            td 型號
                            td TYS-200
                        tr
                            td 本體材質
                            td SUS304不鏽鋼
                        tr
                            td 濾心材質
                            td 日本GE-Techno活性碳纖維、高密度日本エルベス食品級不織布
                        tr
                            td 過濾孔徑
                            td 20微米
                        tr
                            td 過濾效能
                            td 約6個月※依照各地水質、使用方式，壽命也會改變
                        tr
                            td 外殼尺寸
                            td 直徑(含底板)25cm x 43cm(h)
                        tr
                            td 進水入/出口
                            td 1“ PT-F
                        tr
                            td 耐壓
                            td 7kg/cm²~10kg/cm²  (100psi~150psi)
                        tr
                            td 處理噸數
                            td 200噸  ※依照各地水質、使用方式，壽命也會改變
                        tr
                            td 安裝方式
                            td 壁掛、立架兩用設計。
                        tr
                            td 濾料產地
                            td 日本製
                        tr
                            td 產地
                            td 台灣
                table
                    tbody
                        tr
                            td 型號
                            td TYR-250
                        tr
                            td 電壓
                            td AC100-240V
                        tr
                            td 總額定消耗電功率
                            td 40w
                        tr
                            td 尺寸
                            td 寬36 X 深60 X 高105 (cm)
                        tr
                            td 重量
                            td 14kg
                        tr
                            td 樹脂量
                            td 25L
                        tr
                            td 儲鹽量
                            td 20KG(乾鹽箱設計)
                        tr
                            td 週期產水量
                            td 3.9〜9.7 t
                        tr
                            td 總週期產水次數
                            td 200〜300次
                        tr
                            td 適用人口數
                            td 1～6人
                        tr
                            td 工作流量
                            td 1.5～3m3/hr
                        tr
                            td 進水壓力
                            td 1.5～3.5 kgf/cm2
                        tr
                            td 進水温度
                            td 5〜38°C
                        tr
                            td 進出水口徑
                            td 3/4”（六分）
                        tr
                            td 排水口徑
                            td 1/2”（四分）
                        tr
                            td 適用水質
                            td 自來水
                        tr
                            td 製造地區
                            td 中國製
                .align-center
                    a(href="qa.html")
                        .action-btn
                            i.far.fa-question-circle  常見問題
                    a(target="_blank" href="https://drive.google.com/file/d/1qkV2aOknnU-SpbsMcXUx9aSkmiyi7OPq/view?usp=sharing")
                        .action-btn
                            i.fal.fa-wrench  操作手冊
            .main-box
                h5 週邊配件/耗材
                .flex-box.flex-box-padding-reduce
                    .flex-2
                        img(src=`images/product/tys-200/japan-200.png` alt="日本製-200噸濾心")
                        p 日本製-200噸濾心
                    .flex-2
                        img(src="http://www.toyo-autech.com.tw/upload/images/IMG_45812.jpg" alt="壓力錶")
                        p 壓力錶
                    
